{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="new-scheme-container container mt-4">
    <form method="post">
        {% csrf_token %}
            <div class="create-scheme-header card-header">
                <h4 style="display: inline-block;">Create Scheme</h4>
                <button type="submit" class="create-scheme-submit">Submit</button>
            </div>

            <div style="padding: 0;" class="card-body">
                {{ form.non_form_errors }}
                <div class="creation-form">
	                <div class="creation-form-label">{{ form.title.label }}</div>
	                <div class="creation-form-field">
	                	<input id="{{ form.title.id_for_label }}" class="form-control" type="text" name="{{ form.title.name }}" required placeholder="Title">
	                </div>

	                <div class="creation-form-label">{{ form.separator.label }}</div>
	                <div class="creation-form-field">
	                	{{ form.separator }}
	                </div>

	                <div class="creation-form-label">{{ form.character.label }}</div>
	                <div class="creation-form-field">
	                	{{ form.character }}
	                </div>
	            </div>
                
                <div class="create-scheme-header">
                	<h4>Scheme columns</h4>
            	</div>
                {{ column_formset.non_form_errors }}
                {{ column_formset.management_form }}
                
                <div id="column-list">  
	                {% for form in column_formset %}
	                	<div id="form-0" class="column-creation-form">
		                    {{ form.name.prefix }}
		                    <div style="width: 400px; margin-left: 15px;" class="column-creation-block">
			                    <label class="column-creation-form-label" for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
		                		<div class="column-creation-form-field">
		                			{{ form.name }}
		                		</div>
	                		</div>

	                		<div style="width: 300px;" class="column-creation-block">
			                    <label class="column-creation-form-label" for="{{ form.kind.id_for_label }}">{{ form.kind.label }}</label>
		                		<div class="column-creation-form-field">
		                			{{ form.kind }}
		                		</div>
	                		</div>

	                		<div style="display: none;" id="int-range-fields">
		                		<div style="width: 80px;" class="hidden-column-creation-block">
				                    <label class="column-creation-form-label" for="{{ form.int_start.id_for_label }}">{{ form.int_start.label }}</label>
			                		<div class="hidden-column-creation-form-field">
			                			{{ form.int_start }}
			                		</div>
		                		</div>

		                		<div style="width: 140px;" class="hidden-column-creation-block">
				                    <label class="column-creation-form-label" for="{{ form.int_end.id_for_label }}">{{ form.int_end.label }}</label>
			                		<div class="hidden-column-creation-form-field">
			                			{{ form.int_end }}
			                		</div>
		                		</div>
		                	</div>

		                	<div style="display: none;" id="txt-range-fields">
		                		<div style="width: 140px;" class="hidden-column-creation-block">
				                    <label class="column-creation-form-label" for="{{ form.txt_sentences_quantity.id_for_label }}">{{ form.txt_sentences_quantity.label }}</label>
			                		<div class="hidden-column-creation-form-field">
			                			{{ form.txt_sentences_quantity }}
			                		</div>
		                		</div>
	                		</div>

	                		<div style="float: right; width: 100px" class="column-creation-block">
			                    <label class="column-creation-form-label" for="{{ form.order.id_for_label }}">{{ form.order.label }}</label>
		                		<div class="column-creation-form-field">
		                			{{ form.order }}
		                		</div>
	                		</div>
	            		</div>
	            	{% endfor %}
                </div>	

                <div id="empty-form" class='hidden-form'>
		           	<div style="width: 400px; margin-left: 15px;" class="column-creation-block">
	                    <label class="column-creation-form-label" for="{{ column_formset.empty_form.name.id_for_label }}">
	                    	{{ column_formset.empty_form.name.label }}
	                	</label>
                		<div class="column-creation-form-field">
                			{{ column_formset.empty_form.name }}
                		</div>
            		</div>

            		<div style="width: 300px;" class="column-creation-block">
	                    <label class="column-creation-form-label" for="{{ column_formset.empty_form.kind.id_for_label }}">
	                    	{{ column_formset.empty_form.kind.label }}
	                    </label>
                		<div class="column-creation-form-field">
                			{{ column_formset.empty_form.kind }}
                		</div>
            		</div>

            		<div style="display: none;" id="int-range-fields">
                		<div style="width: 80px;" class="hidden-column-creation-block">
		                    <label class="column-creation-form-label" for="{{ column_formset.empty_form.int_start.id_for_label }}">
		                    	{{ column_formset.empty_form.int_start.label }}
		                    </label>
	                		<div class="hidden-column-creation-form-field">
	                			{{ column_formset.empty_form.int_start }}
	                		</div>
                		</div>

                		<div style="width: 140px;" class="hidden-column-creation-block">
		                    <label class="column-creation-form-label" for="{{ column_formset.empty_form.int_end.id_for_label }}">
		                    	{{ column_formset.empty_form.int_end.label }}
		                    </label>
	                		<div class="hidden-column-creation-form-field">
	                			{{ column_formset.empty_form.int_end }}
	                		</div>
                		</div>
                	</div>

                	<div style="display: none;" id="txt-range-fields">
                		<div style="width: 140px;" class="hidden-column-creation-block">
		                    <label class="column-creation-form-label" for="{{ column_formset.empty_form.txt_sentences_quantity.id_for_label }}">
		                    	{{ column_formset.empty_form.txt_sentences_quantity.label }}
		                    </label>
	                		<div class="hidden-column-creation-form-field">
	                			{{ column_formset.empty_form.txt_sentences_quantity }}
	                		</div>
                		</div>
            		</div>

            		<div style="float: right; width: 100px" class="column-creation-block">
	                    <label class="column-creation-form-label" for="{{ column_formset.empty_form.order.id_for_label }}">
	                    	{{ column_formset.empty_form.order.label }}
	                	</label>
                		<div class="column-creation-form-field">
                			{{ column_formset.empty_form.order }}
                		</div>
            		</div>
                </div>
                <button id="add-more" type="button">Add column</button>
            </div>
    </form>
</div>

<script>
	const addMoreBtn = document.getElementById('add-more')
	const totalNewForms = document.getElementById('id_column-TOTAL_FORMS')
	const currentColumnForms = document.getElementsByClassName('column-creation-form')
	addMoreBtn.addEventListener('click', add_new_form)
	function add_new_form(event) {
		if (event) {
			event.preventDefault()
		}
		let currentFormCount = currentColumnForms.length
		const formCopyTarget = document.getElementById('column-list')
		const copyEmptyFormEl = document.getElementById('empty-form').cloneNode(true)
		copyEmptyFormEl.setAttribute('class', 'column-creation-form')
		copyEmptyFormEl.setAttribute('id', `form-${currentFormCount}`)
		const regex = new RegExp('__prefix__', 'g')
		copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, currentFormCount)
		totalNewForms.setAttribute('value', currentFormCount + 1)
		formCopyTarget.append(copyEmptyFormEl)
	}
</script>
<script>
	document.getElementById('id_column-0-kind').addEventListener('change', function () {
    var style = this.value == "Integer" ? 'inline-block' : 'none';
    document.getElementById('int-range-fields').style.display = style;
	});
</script>
<script>
	document.getElementById('id_column-0-kind').addEventListener('change', function () {
    var style = this.value == "Text" ? 'inline-block' : 'none';
    document.getElementById('txt-range-fields').style.display = style;
	});
</script>

{% endblock content %}