{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="data-schemas">
	<h3 class="data-schemas-title">Data schemas</h3>
	<a href="{% url 'new_scheme' %}" class="new-schema-button">New Scheme</a>

	<table class="data-schemas-table table table-striped" cellpadding="0">
  		<thead>
    		<tr>
		      <th scope="col">#</th>
		      <th scope="col">Title</th>
		      <th scope="col">Modified</th>
		      <th scope="col">Actions</th>
    		</tr>
  		</thead>
  	<tbody>
    	{% for scheme in schemas %}
    		<tr class="data-schemas-list">
  				<th scope="row"></th>
				<td><span id="scheme-title">{{ scheme.title }}</span></td>
				<td>{{ scheme.modified_date|date:"Y-m-d" }}</td>
			    <td>
			    	<a href="#" id="edit-scheme">Edit scheme</a>
			    	<a href="#" id="delete-scheme">Delete</a>
			    </td>
			</tr>
    	{% endfor %}
  	</tbody>
	</table>
</div>

<script>
	var table = document.getElementsByTagName('table')[0],
	  rows = table.getElementsByClassName('data-schemas-list'),
	  text = 'textContent' in document ? 'textContent' : 'innerText';

	for (var i = 0, len = rows.length; i < len; i++) {
	  rows[i].children[0][text] = i+1;
	}
</script>
{% endblock content %}